<div>
  <form (ngSubmit)="onSubmit()">
    <!--Product code(s): <input required [(ngModel)]="products" name="products" type="text">-->
    Product code(s): <textarea required name="products" [(ngModel)]="products"></textarea>
    <button type="submit" class="btn btn-success" [disabled]="submitted">Submit</button>
  </form>
  Threshold: <input [(ngModel)]="threshold" name="threshold" type="number">

  <div *ngIf="model">
    <ng-container *ngFor="let productId of entries">
    <h3>Product {{productId}}</h3>
      <table style="table-layout: fixed" width="95%" border="1px">
        <ng-container *ngFor="let product of getProduct(productId)">
          <tr *ngIf="product.sum >= threshold">
            <th>{{product.partner}}</th>
            <td align="right" *ngFor="let ds of product.dataSeries">{{ds}}</td>
            <th align="right">{{product.sum}}</th>
          </tr>
        </ng-container>
      </table>
    </ng-container>
  </div>
  <div *ngIf="error">
    <h4 style="color: red">Eurostat returned response: {{error.eurostatResponseCode}}</h4>
    <p style="color: red">{{error.additionalEurostatMessage}}</p>
    <p>Probably one of the codes does not exist in eurostat database. Unfortunately there is no way to precisely
    say what caused that error.</p>
    <p>But it also might be that eurostat decided respone is too large and will deliver it later :)</p>
  </div>
</div>
